{% load static %}


<div class="container my-2 text-center text-white bg-primary">
    <div class="row ">
        <div class="col-sm-12 border-right border-white bg-info ">
            <h2>mapa do site</h2>
           
        </div>
    </div>
    <div class="row">
        <div class="col-2 mx-auto my-2 bg-info ">
            <h6 >página inicial</h6>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-2 mx-auto  bg-info">
            <h6>área restrita</br>aos membros</h6>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-2 mx-auto bg-info  ">
            <h6 >Lista de professores</h6>
        </div>
        <div class="col-2 mx-auto  bg-info  ">
            <h6 >Lista de disciplinas</h6>
        </div>
        <div class="col-2 mx-auto  bg-info  ">
           <h6 >Lista de alunos</h6>
        </div>
        <div class="col-2 mx-auto  bg-info  ">
           <h6 >Lista de questões</h6>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-2 mx-auto  bg-info  ">
            <h6 >Detalhes de professor</h6>
        </div>
        <div class="col-2 mx-auto bg-info  ">
            <h6 >Detalhes de disciplina</h6>
        </div>
        <div class="col-2 mx-auto  bg-info ">
           <h6 >Detalhes de aluno</h6>
        </div>
        <div class="col-2 mx-auto  bg-info ">
           <h6 >responder a questão</h6>
        </div>
    </div>   
        
    <hr>    
    
    <div class="row mt-1 border-top border-white text-center text-white " style="height: 110px;">
        <div class="col-sm-12">
            <h4>desenvolvido por Ribson Coelho</br> contato: pr@#*&ldes@!!mail.com</br></h4>

        </div>

    </div>

</div>
