{% load static %}


<div class="container my-2 text-center text-white bg-primary">
    <div class="row " style="height:250px;">
        <div class="col-sm-12 border-right border-white ">
            <h2>mapa do site</h2>

        </div>
        
    </div>
    
    <div class="row border-top border-white text-center text-white " style="height: 110px;">
        <div class="col-sm-12">
            <h4>desenvolvido por Ribson Coelho</br> contato: pr@#*&ldes@!!mail.com</br></h4>

        </div>

    </div>

</div>
