{% load static %}

{% block base_head %}
    <!--
    <link rel='stylesheet' href='{% static "css/main.css" %}'>
    
    -->
    <style>
        #backfooter{
        background-image: url('{% static "img/mapa.jpg" %}');
        background-repeat:no-repeat;
        background-size: cover;
        background-attachment: fixed;
        }
        </style>

{% endblock base_head %}

<div id="backfooter" class="container my-2 text-center text-white bg-primary">
    <div  class="row "> 
        <div class="col-sm-12 border-right border-white bg-info ">
            <h2><i class="fas fa-sitemap"></i>   mapa do site</h2>
           
        </div>
    </div>
    <div class="row">
        <div class="col-2 mx-auto my-2 bg-info ">
            <h6 ><i class="fas fa-home"></i>   página inicial</h6>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-2 mx-auto  bg-info">
            <h6><i class="fas fa-user-lock"></i>   área restrita</br>aos membros</h6>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-2 mx-auto bg-info  ">
            <h6 ><i class="fas fa-chalkboard-teacher"></i>   Lista de professores</h6>
        </div>
        <div class="col-2 mx-auto  bg-info  ">
            <h6 ><i class="fas fa-book"></i>   Lista de disciplinas</h6>
        </div>
        <div class="col-2 mx-auto  bg-info  ">
           <h6 ><i class="fas fa-book-reader"></i>   Lista de alunos</h6>
        </div>
        <div class="col-2 mx-auto  bg-info  ">
           <h6 ><i class="fas fa-square-root-alt"></i>   Lista de questões</h6>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-2 mx-auto  bg-info  ">
            <h6 ><i class="far fa-eye"></i>   Detalhes de professor</h6>
        </div>
        <div class="col-2 mx-auto bg-info  ">
            <h6 ><i class="far fa-eye"></i>   Detalhes de disciplina</h6>
        </div>
        <div class="col-2 mx-auto  bg-info ">
           <h6 ><i class="far fa-eye"></i>   Detalhes de aluno</h6>
        </div>
        <div class="col-2 mx-auto  bg-info ">
           <h6 ><i class="far fa-eye"></i>   responder a questão</h6>
        </div>
    </div>   
        
    <hr>    
    
    <div class="row mt-1 border-top border-white text-center text-white " style="height: 110px;">
        <div class="col-sm-12">
            <h4><i class="fas fa-laptop-code"></i>   desenvolvido por Ribson Coelho   <i class="far fa-file-code"></i></br><i class="fas fa-at"></i>   contato: pr@#*&ldes@!!mail.com</br></h4>

        </div>

    </div>

</div>
