{% extends "base.html" %}

{% block content %}
    <div class="container">
        <div class="row mx-auto py-2">
            <div class="col-10 mx-auto py-2 text-dark text-center" style="background-color: rgb(210, 248, 248);" >
            <h4>Detalhes do aluno {{pessoa.nome}} </h4>
            </div>

            <div class="col-sm-8 mx-auto py-2 text-center">
            
                <table class="table table-hover table-responsive table-sm">
                    <thead>
                        <tr>
                            <th scope="col">Id</th>
                            <th scope="col">Aluno</th>
                            <th scope="col">email</th>
                            
                            <th scope="col">turma</th>
                            <th scope="col">matrícula</th>
                        </tr>
                    </thead>
                    <tbody>
                    
                    <tr>
                        <td> {{pessoa.id}}</td>
                        <td> {{pessoa.nome}}</td>
                        <td> {{pessoa.email}}</td>
                        
                        <td> {{pessoa.turma}}</td>
                        <td> {{pessoa.matricula_aluno}}</td>
                    </tr>
                    
                    </tbody>
                </table>
            </div> 
        </div>   
        
        <hr>
        <div class="row mx-auto">

            <div class="col-sm-10 mx-auto py-3 text-center " style="background-color: rgb(210, 248, 248);">
                <h4 class="text-dark">Relacionamento muitos para muitos </br> alunos e disciplinas</h4>    
            </div>
            
            <div class="col-sm-4 mx-auto py-2 text-center">
               
            <table class="table table-hover table-sm border border-primary">
                <caption class="">aluno e suas disciplinas</caption>
                <thead>
                <tr class="text-dark " style="background-color: rgb(210, 248, 248);">
                    <th scope="col"> {{disc_aluno.nome}}  estuda  {{ disc_aluno.discAluno.count }} disciplinas </th>
                </tr>
                </thead>
                <tbody>
                    {% for d in disc_aluno.discAluno.disciplina  %}
                    <tr>
                       <td> {{d.nome}}</td> 
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            </div> 
            
        </div>
            
        <div class="row">
            <div class=" col-2 mx-auto">
            <a href="{% url 'pessoa_disc:homealuno' %}"><button class="btn btn-info my-1 ">Alunos</button></a>
            </div>
        </div>
    </div>    
    {% endblock %}