{% extends "base.html" %}
{% load static %}
{% block base_head %}
    <!--
    <link rel='stylesheet' href='{% static "css/main.css" %}'>
    -->

    <style>
    #backdisc {
    background-image: url('{% static "img/rdisc.jpg" %}');
    background-repeat:no-repeat;
    background-size: cover;
    background-attachment: fixed;
    }
    </style>
   
<!--
<style>
    #backdisc {
        background-color:#ffffff;

    }
    .btcolor {
        background-color:rgb(210, 248, 248);
    }
</style>
--> 
{% endblock base_head %}
{% block content %}
    
        <!--
        <div class="row mx-auto bg-warning py-2">
            <div class="col-10 mx-auto bg-primary py-2 text-warning text-center" >
            <h4>Tabelas de Pessoas(professor e alunos) </h4>
            </div>

            <div class="col-sm-10  mx-auto py-2  text-center">
                {% for pessoa in pessoas %}
                <table class=" table table-responsive table-hover   table-sm  ">
                    <thead>
                        <tr>
                            <th >Id</th>

                            <th  class="col">Pessoas</th>

                            <th >detalhe url</th>
                                         
                            <th > get_absolut_url</th>
                            <th > editar ou deletar </th>
                        </tr>
                    </thead>
                    <tbody>
                    
                    <tr>
                        
                        <td > {{pessoa.id}}</td>

                        <td class="col"> {{pessoa.nome}}</td>
                      
                        <td >
                            <a href="{% url 'pessoa_disc:detalhe' id=pessoa.id %}"><button class="btn btn-primary mx-auto my-2 ">detalhe url</button></a>
                        </td>
                        <td > 
                            <a href="{{ pessoa.get_absolut_url }}"><button class="btn btn-success mx-auto my-2 "> get_absolut_url</button></a>
                        </td>
                        
                                     
                    </tr>        
                    </tbody>
                            
                    
                </table>
                {% endfor %}
            </div> 
        </div>   
        
        <a href="{% url 'home' %}"><button class="btn btn-primary">Home</button></a>
        
        <hr>
        -->
    <div id="backdisc" class="container border border-dark">
        <hr>

        <div class="row mx-auto py-3 "> 
            <h4 class="col-sm-10 mx-auto btcolor text-center text-dark">Disciplinas</h4>    
            
            {% for disciplina in disciplinas %}
            <div class="col-sm-6 mx-auto text-center py-2 ">
                 
                <table class="table table-hover table-responsive table-sm ">
                    <thead>
                        <tr class="btcolor">
                            
                            <th scope="col"> Disciplinas </th>
                            
                        </tr>
                    
                    <tbody class="btcolor">
                        
                        <tr>
                        
                            <td>
                                 {{disciplina.nome}}
                            </td> 
                            
                            <td>
                                <div class="col-sm-4 mx-auto py-2  text-center"> 
                                    <a href="{% url 'pessoa_disc:detalhedisciplina' id=disciplina.id  %}"><button class="btn btn-info mx-auto "><i class="far fa-eye"></i> detalhe de disciplina</button></a>
                                </div>
                            </td>
                        </tr>
                        
                    </tbody>
                </table>
            </div> 
                {% endfor %}
        </div>
    
        <hr>

        <div class="row sm-10 mx-auto py-2">
            <div class="col-sm-4 mx-auto text-center py-2 "> 
                <a href="{% url 'questions:question' %}"><button class="btn btn-info mx-auto my-2">Questões</button></a>
            </div>
            <div class="col-sm-4 mx-auto text-center py-2 "> 
                <a href="{% url 'pessoa_disc:homeprofessor' %}"><button class="btn btn-info mx-auto my-2">Professores</button></a>
            </div>
            <div class="col-sm-4 mx-auto text-center py-2 "> 
                <a href="{% url 'pessoa_disc:homealuno' %}"><button class="btn btn-info mx-auto my-2">Alunos usando url</button></a>
            </div>
                
        </div>
        <hr>
        <!--
        <div class="row">
            <div class="col-sm-6 mx-auto text-right text-white ">
                <a href="https://www.pexels.com/pt-br/licenca/" target="_blanck">Background vector created by pexels-www.pexels.com </a>
            </div>
        </div>
        -->
    </div>
     
{% endblock %}
