{% extends "base.html" %}
{% load static %}
{% block base_head %}
    <!--
    <link rel='stylesheet' href='{% static "css/main.css" %}'>
    -->
    
    <style>
    #backaluno {
    background-image: url('{% static "img/alunos.jpg" %}');
    background-repeat:no-repeat;
    background-size: cover;
    background-attachment: fixed;
    }
    </style>


{% endblock base_head %}


{% block content %}
    <div id="backaluno" class="container">
        <div class="row">
            <div class="col-sm-10 mx-auto py-3 text-center text-white">
                <h4 class=" bg-primary ">Alunos</h4>    
            </div>

            <div class="col-sm-10 mx-auto py-2 text-center">
                <table class="bg-warning table table-responsive table-hover table-sm">
                    <thead>
                        <tr class=" text-padrao">
                            
                            <th>Alunos</th>
                            
                            <th > detalhe via url</th>
                            <th > get_absolut_url </th>
                        <tr>
                    </thead>

                    <tbody>
                        {% for aluno in alunos %}
                        <tr>
                            
                            <td> {{aluno.nome}}</td>
                            
                            <td >
                                <a href="{% url 'pessoa_disc:detalhe' id=aluno.id %}"><button class="btn btn-primary mx-auto"><i class="far fa-eye"></i>detalhe url</button></a>
                            </td>
                            <td > 
                                <a href="{% url 'pessoa_disc:detalhealuno' id=aluno.id %}"><button class="btn btn-primary mx-auto"><i class="far fa-eye"></i> detalhe NOVO</button></a>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>


        <hr>
        
    
        <div class="row mx-auto py-2">
            <div class="col-sm-10 mx-auto bg-primary py-2 text-white text-center"> 
                <h4>Relações de alunos e disciplinas</h4>
                
            </div>
            
            {% for aluno in disc_aluno %}
            <div class="col-sm-4 my-1 py-2 text-white text-center border border-primary">
                     
                <table class="bg-warning table table-hover table-sm">
                    <caption class="">Lista de alunos e suas disciplinas</caption>
                    <thead>
                        <tr class="bg-primary text-white">
                            <th scope="col"> {{aluno.nome}} estuda {{aluno.discAluno.count}} disciplinas</th>
                        </tr>
                    </thead>
                    <tbody class="text-dark">
                        {% for e in aluno.discAluno.disciplina %}
                        <tr>
                            <td> {{e.nome}}</td> 
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div> 
            {% endfor %}
        </div>
        <div class="row">
            <div class="col-sm-3 mx-auto">
                <a href="{% url 'home' %}"><button class="btn btn-primary mx-auto my-2">home</button></a>
            </div>
        </div>
    </div>    

{% endblock %}
