{% extends "base.html" %}
{% block content %}
    <div class="container">
        <div class="row mx-auto bg-warning py-2">
            <div class="col-10 mx-auto bg-primary py-2 text-warning text-center" >
            <h4>Tabelas de Pessoas(professor e alunos) </h4>
            </div>

            <div class="col-sm-10  mx-auto py-2  text-center">
                {% for pessoa in pessoas %}
                <table class=" table table-responsive table-hover   table-sm  ">
                    <thead>
                        <tr>
                            <th >Id</th>

                            <th  class="col">Pessoas</th>

                            <th >detalhe url</th>
                                         
                            <th > get_absolut_url</th>
                            <th > editar ou deletar </th>
                        </tr>
                    </thead>
                    <tbody>
                    
                    <tr>
                        
                        <td > {{pessoa.id}}</td>

                        <td class="col"> {{pessoa.nome}}</td>
                      
                        <td >
                            <a href="{% url 'pessoa_disc:detalhe' id=pessoa.id %}"><button class="btn btn-primary mx-auto my-2 ">detalhe url</button></a>
                        </td>
                        <td > 
                            <a href="{{ pessoa.get_absolut_url }}"><button class="btn btn-success mx-auto my-2 "> get_absolut_url</button></a>
                        </td>
                        
                                     
                    </tr>        
                    </tbody>
                            
                    
                </table>
                {% endfor %}
            </div> 
        </div>   
        
        <a href="{% url 'home' %}"><button class="btn btn-primary">Home</button></a>
        
        <hr>

        <div class="row mx-auto bg-success">
            <div class="col-sm-5 mx-auto py-2 text-warning text-center">
                <table class="table table-hover table-dark table-sm">
                    <thead>
                        <tr>
                            <th scope="col">Id</th>
                            <th scope="col">Professores</th>
                            <th scope="col">Titulação</th>
                            <th scope="col">cpf</th>
                        </tr>
                    </thead>

                    <tbody>
                        {% for prof in professores %}
                        <tr>
                            <td> {{prof.id}}</td>
                            <td> {{prof.nome}}</td>
                            <td> {{prof.titulo}}</td>
                            <td> {{prof.cpf}}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            
            <div class="col-sm-5 mx-auto py-2 text-warning text-center">
                <table class="table table-dark table-sm">
                    <thead>
                        <tr class=" text-padrao">
                            <th>Id</th>
                            <th>Alunos</th>
                            <th>Turma</th>
                            <th>cpf</th>
                        <tr>
                    </thead>

                    <tbody>
                        {% for aluno in alunos %}
                        <tr>
                            <td> {{aluno.id}}</td>
                            <td> {{aluno.nome}}</td>
                            <td> {{aluno.turma}}</td>
                            <td> {{aluno.cpf}}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>

            <hr>

        <div class="row mx-auto py-3 bg-danger"> 
            <h4 class="col-sm-10 mx-auto bg-primary text-center text-warning">Disciplinas</h4>    
            
            {% for disciplina in disciplinas %}
            <div class="col-sm-4 mx-auto text-center py-2 text-warning text-center">
                 
                <table class="table table-hover table-dark table-sm">
                    <thead>
                    <tr class="bg-primary text-warning">
                        <th scope="col"> Id </th>
                        <th scope="col"> Disciplinas </th>
                    </tr>
                    </thead>
                    <tbody>
                        
                        <tr>
                            <td> {{disciplina.id}}</td> 
                            <td> {{disciplina.nome}}</td> 
                        </tr>
                        
                    </tbody>
                </table>
                </div> 
                {% endfor %}
            </div>
        </div>

        <hr>
        <div class="row mx-auto bg-dark">

            <div class="col-sm-10 mx-auto py-3 text-center text-warning">
                <h4 class=" bg-primary ">Relacionamento manytomany </br> professores e disciplinas</h4>    
            </div>
            {% for prof in disc_prof %}
            <div class="col-sm-4 mx-auto py-2 text-warning text-center">
               
            <table class="table table-hover table-sm border border-warning">
                <caption class="text-warning">Lista de professores e suas disciplinas</caption>
                <thead>
                <tr class="bg-primary ">
                    <th scope="col"> {{prof.nome}} tem o título de {{prof.titulo}}   </th>
                </tr>
                </thead>
                <tbody>
                    {% for d in prof.discProf.disciplina  %}
                    <tr>
                       <td> {{d.nome}}</td> 
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            </div> 
            {% endfor %}
        </div>
    

        <hr>
        <div class="row mx-auto bg-success py-2">
            <div class="col-sm-10 mx-auto bg-primary py-2 text-warning text-center"> 
                <h4>Relações de alunos e disciplinas</h4>
                
            </div>
            
            {% for aluno in disc_aluno %}
            <div class="col-sm-4 py-2 text-warning text-center border border-bordered border-warning">
                     
                <table class="table table-hover table-sm">
                    <caption class="text-warning">Lista de alunos e suas disciplinas</caption>
                    <thead>
                        <tr class="bg-primary text-warning">
                            <th scope="col"> {{aluno.nome}} estuda {{aluno.discAluno.count}} disciplinas</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for e in aluno.discAluno.disciplina %}
                        <tr>
                            <td> {{e.nome}}</td> 
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div> 
            {% endfor %}
        </div>
    
    </div>    
{% endblock %}
