{% extends "base.html" %}
{% load static %}
{% block base_head %}
    <!--
    <link rel='stylesheet' href='{% static "css/main.css" %}'>
    -->
    
    <style>
    #backprof {
    background-image: url('{% static "img/novoback2.jpg" %}');
    background-repeat:no-repeat;
    background-attachment: scroll;
    background-size:cover;
    background-position:right top;
    
    }
    </style>

    <!--
    <style>
        #backprof {
            background-color:#ffffff;

        }
        .btcolor {
            background-color:rgb(210, 248, 248);
        }
    </style>
    -->
{% endblock base_head %}

{% block content %}
    <div id="backprof" class="container border border-dark">

        <div class="row">
            <div class="col-sm-10 mx-auto py-1 text-center text-dark ">
                <h4 class=" btcolor ">Professores</h4>    
            </div>

            <div class="col-sm-10 mx-auto text-center">
                <table class="btcolor table table-responsive table-hover  table-sm" >
                    <thead style="background-color: rgb(210, 248, 248);">
                        <tr>
                            <th scope="col">Id</th>
                            <th scope="col">Professores</th>
                            
                            <th > detalhe via url</th>
                            <th > get_absolut_url </th>
                        </tr>
                    </thead>

                    <tbody>
                        {% for prof in professores %}
                        <tr>
                            <td> {{prof.id}}</td>
                            <td> {{prof.nome}}</td>
                           
                            <td >
                                <a href="{% url 'pessoa_disc:detalhe' id=prof.id %}"><button class="btn mx-auto border border-primary" style="background-color: rgb(210, 248, 248);"><i class="far fa-eye"></i> detalhe url</button></a>
                            </td>
                            <td > 
                                <a href="{% url 'pessoa_disc:detalheprofessor' id=prof.id %}"><button class="btn mx-auto border border-primary " style="background-color: rgb(210, 248, 248);"><i class="far fa-eye"></i> detalhe NOVO</button></a>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            
        </div>

        <hr>
        <div class="row mx-auto ">

            <div class="col-sm-10 mx-auto py-2 text-center ">
                <h5 class=" btcolor text-dark ">Relacionamento  </br> professores e disciplinas</h5>    
            </div>
            {% for prof in disc_prof %}
            <div class="col-sm-4 mx-auto py-2 text-dark text-center">
               
            <table class="btcolor table table-hover table-sm border border-primary text-dark">
                <caption class="text-dark">Lista de professores e suas disciplinas</caption>
                <thead style="background-color: rgb(210, 248, 248);">
                <tr class=" ">
                    <th scope="col"> {{prof.nome}} tem o título de {{prof.titulo}} e tem {{ prof.discProf.count }} disciplina a lecionar  </th>
                </tr>
                </thead>
                <tbody class="text-dark">
                    {% for d in prof.discProf.disciplina  %}
                    <tr>
                       <td> {{d.nome}}</td> 
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            </div> 
            {% endfor %}
        </div>
        <div class="row">
            <div class="col-sm-3 mx-auto text-center">
                <a href="{% url 'pessoa_disc:homedisciplina' %}"><button class="btn btn-info mx-auto my-2">Disciplinas</button></a>
            </div>
        </div>
        <!--
        <div class="row">
            <div class="col-sm-6 mx-auto text-right text-white ">
                <a href="https://www.pexels.com/pt-br/licenca/" target="_blanck">Background vector created by pexels-www.pexels.com </a>
            </div>
        </div>
        -->
    </div>    
{% endblock %}
