{% extends "base.html" %}
{% load static %}


{% block content %}
<div class="row  text-primary">
   
    <div class="col-sm-10 mx-auto text-center " >
       
        <h5>{{ title}} </h5>
        <h6>{{ content }}</h6>
            
        
        <h6> sua resposta foi  {{ resposta }}</h6>
        <h6> o gabarito é {{ gabarito }}</h6>
        <h6>a msg é :{{ msg }}</h6>
        
        {% if resposta == gabarito %}
        <span style="font-size: 3em; color:rgba(12, 9, 240, 0.904)">
            <i class="far fa-grin-beam"></i>
        </span>
        {% else %}
        <span style="font-size: 3em; color:rgba(12, 9, 240, 0.904); background-color: rgb(255, 251, 4);">
            <i class="far fa-sad-cry"></i>
        </span>
        {% endif %}

        <hr>

        <div class="row sm-10 mx-auto py-3 bg-warning">
            <div class="col-sm-3 mx-auto text-center py-2 text-warning text-center"> 
                <a href="{% url 'questions:question' %}"><button class="btn btn-primary mx-auto my-2">lista de questões</button></a>
            </div>
            <div class="col-sm-3 mx-auto text-center py-2 text-warning text-center"> 
                <a href="{% url 'pessoa_disc:homeprofessor' %}"><button class="btn btn-primary mx-auto my-2">lista de professores</button></a>
            </div>
            <div class="col-sm-3 mx-auto text-center py-2 text-warning text-center"> 
                <a href="{% url 'pessoa_disc:homedisciplina' %}"><button class="btn btn-primary py-3">lista de disciplinas</button></a>
            </div>    
            <div class="col-sm-3 mx-auto text-center py-2 text-warning text-center"> 
            <a href="{% url 'home' %}"><button class="btn btn-primary py-3">Home</button></a>
            </div>
        </div>
        <hr>     
        
       
    </div>
</div>

{% endblock %}