{% extends "base.html" %}
{% load static %}


{% block content %}
<div class="row bg-success text-warning">
   
    <div class="col-sm-10 mx-auto text-center" >
       
        <h1>{{ title}} </h1>
        <h3>{{ content }}</h3>
            
        
        <h6> sua resposta foi {{ resposta }}</h6>
        <h6> o gabarito é {{ gabarito }}</h6>
        <h1 class="bg-success">a msg é :{{ msg }}</h1>
        <h6 class="bg-primary"> a sua pontuação é {{ pontos }}</h6>

        
        <a href="{% url 'home' %}"><button class="btn btn-primary py-3">Home</button></a>
        <a href="{% url 'questions:question' %}"><button class="btn btn-primary py-3">lista de questões</button></a>
       
    </div>
</div>

{% endblock %}