{% extends "base.html" %}
{% load static %}
{% block content %}

<div class="row bg-warning">
    <div class="col-sm-10 mx-auto text-center" >
       

        {% for x in gab %}
        <h5> (Questão-{{ x.id }}), tipo:{{ x.tipo }}. A pergunta é {{ x.pergunta }}. gabarito:{{ x.gabarito }}</h5>
        <h5>{{ alternativa }}</h5>
        <h5>{{ alternativa2 }}</h5>
        <h5>{{ resposta }}</h5>
        
        
        <h5>    {{ user }}</h5>
        
        
        <a href="{% url 'home' %}"><button class="btn btn-primary py-3">Home</button></a>
        <a href="{% url 'questions:resposta' id=x.id %}"><button class="btn btn-primary py-3">responder</button></a>
        {% endfor %}
        
        
    </div>
</div>

{% endblock %}