{% extends "base.html" %}
{% load static %}
{% block base_head %}
<!--
<style>
    #backq {
    background-image: url('{% static "img/questoes.jpg" %}');
    background-repeat:repeat;
    background-attachment: fixed;
    background-size: 200px 200px;
    background-position:right top;
    }
    </style>
    -->
    <style>
        #backq {
            background-color:#ffffff;

        }
        .btcolor {
            background-color:rgb(210, 248, 248);
        }
    </style>

{% endblock base_head %}
{% block content %}
<div id="backq" class="container border border-dark">
<div class="row">
    <div class="col-sm-11 mx-auto my-2 py-2 border border-primary btcolor" >
       
        <h5> Bem vindo,  {{ user }}</h5>
        {% for x in gab %}
        <h5> (Questão-{{ x.id }}) A pergunta é {{ x.pergunta }}. </h5>
       
        <!--
         <h5>{{ resposta }}</h5>
        <h5>{{ alternativa }}</h5>
        <h5>{{ alternativa2 }}</h5>
        gabarito:{{ x.gabarito }}
        -->
        <a href="{% url 'questions:resposta' id=x.id %}"><button class="btn btn-info py-3">responder</button></a>
        {% endfor %}
        
        
    </div>
</div>
<div class="row">
    <div class="col-sm-4 mx-auto my-3 text-center " >
    <a href="{% url 'home' %}"><button class="btn btn-info my-3 py-3">Home</button></a>
    </div>
</div>
<!--
<div class="row">
    <div class="col-sm-6 mx-auto text-right text-white ">
        <a href="https://www.pexels.com/pt-br/licenca/" target="_blanck">Background vector created by pexels-www.pexels.com </a>
    </div>
</div>
-->
</div>
{% endblock %}