{% extends "base.html" %}
{% load static %}
{% block base_head %}

<style>
    #backq {
    background-image: url('{% static "img/rquestoes2.jpg" %}');
    background-repeat:no-repeat;
    background-attachment: fixed;
    background-size:cover;
    
    }
    </style>
    <!--
    
    <style>
        #backresposta {
            background-color:#ffffff;

        }
        .btcolor {
            background-color:rgb(210, 248, 248);
        }
    </style>
    -->
{% endblock base_head %}

{% block content %}
<div id="backresposta" class="container border border-dark">
    <div class="row">
        <div class="col-sm-11 mx-auto my-2 py-2 border border-primary btcolor" >
       
        {% for x in campos %}
        <h5> (Questão-{{ x.id }}) a pergunta é {{ x.pergunta }}. gabarito:{{ x.gabarito }}</h5>
        
        <form method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <a href="{% url 'questions:resposta' id=x.id %}"><button class="btn btn-info py-3">Enviar</button></a>
            
        </form>
        
        {% endfor %}
        <h5>  GET  {{ user }}, {{ msg }}</h5>
        
        <!--
        {% for x in campos %}
        <h5> (Questão-{{ x.id }}) a pergunta é {{ x.pergunta }}. gabarito:{{ x.gabarito }}</h5>
        
        <form method="POST">
            {% csrf_token %}
            {{ form.as_p }}

            <input type="submit" value="Enviar" />
        </form>
        
        {% endfor %}
        <h5>  POST  {{ user }}, {{ msg }}</h5>
        -->
        <!--
        <h5>{{ title}} </h5>
        <h5>{{ content }}</h5>
        
        <h5>    {{ resposta }}</h5>
                  
        <a href="{% url 'questions:confere' gabarito resposta msg %}"><button class="btn btn-primary py-3">confere ?</button></a>
              
        <a href="{% url 'questions:question'  %}"><button class="btn btn-primary py-3">lista de questões</button></a>
               
        <a href="{% url 'home' %}"><button class="btn btn-primary py-3">Home</button></a>
        -->
        
    </div>
</div>

</div>
{% endblock %}
