{% extends "base.html" %}

{% block content %}
<div class="row bg-success">
    <div class="col-sm-10 mx-auto text-center" >
        <h1>{{ title}} </h1>
        <h3>{{ content }}</h3>
        <form method="POST">
            {% csrf_token %}
            {{ form.as_p }}

            <input type="submit" value="Enviar" />
        </form>
        <h3>   o gabarito é {{gabarito}}</h3>
        <h3>   a resposta é {{ resposta}}</h3>
        <a href="{% url 'home' %}"><button class="btn btn-primary">Home</button></a>
    </div>
</div>

{% endblock %}
