{% extends "base.html" %}

{% load static %}
{% block base_head %}
    
    <style>
    #backtpack {
        background-image: url('{% static "img/q_azul.jpg" %}');
        background-repeat:no-repeat;
        background-size:cover;
        background-attachment:scroll;
        
       /* background-attachment: fixed;
       width:200px;
        height:200px;
        
         background-position:right top;
       */
        }
    </style>
    
    
    <!--
    <style>
        #backtpack {
            background-color:rgb(210, 248, 248);
        }
    </style>
    -->
{% endblock base_head %}
<title> Home page</title>



{% block content %}
    <!-- Aqui vai tudo que é referente a home_page  -->
    <div id="backtpack" class="container border border-dark">
    <div class="row ">
        <div class="col-sm-9 p-3 mx-auto text-dark text-center">
                <!--
                <span style="font-size: 3em; color: rgba(12, 9, 240, 0.904);">
                    <i class="fas fa-house-user"></i>
                </span>
                <span style="font-size: 3em; color:rgba(12, 9, 240, 0.904)">
                    <i class="far fa-grin-beam"></i>
                </span>
                -->
                <h5>{{ title }}</h5>
                <a href="http://tpack.org">   
                <img src="{% static 'img/bannertcc.gif' %}" style="width:200px; height:200px;"  class='img-thumbnail img-fluid rounded-circle' />
                </a>
                <h5>    {{ content }} </h5>
                
                    <a href="{% url 'login' %}"><button class="btn btn-primary mx-auto my-2">Login (via url)</button></a>
                    <a href="{% url 'register' %}"><button class="btn btn-primary mx-auto my-2">Register (via url)</button></a>
                       
        </div>
    </div>
    <!--
    <div class="row">
        <div class="col-sm-6 mx-auto text-right text-white ">
            <a href="https://www.pexels.com/pt-br/licenca/" target="_blanck">Background vector created by pexels - www.pexels.com </a>
           
        </div>
    </div>
    -->
</div>
        <!--
        {% if request.user.is_authenticated %}
        
        <div class='col-sm-3 px-2 border border-primary rounded my-1 py-3 text-primary text-center'>
            <h1>Premium</h1>
                <h2>{{ premium_content }} </h2>   
            <img src="{% static 'img/loja_virtual.jpg' %}" class='img-fluid' />
                <h5>{{ content }}</h5> 
               
                <a href="{% url 'pessoa_disc:homepessoa' %}"><button class="btn btn-primary mx-auto my-2">lista de pessoas usando url</button></a>
                              
                <a href="{% url 'questions:question' %}"><button class="btn btn-primary mx-auto my-2">lista de questões</button></a>
        </div>
        
        <a href="{% url 'premium' %}"><button class="btn btn-primary mx-auto my-2">Premium (via url)</button></a>
        
        {% else %}
        <div class='col-sm-3 px-2 border border-primary rounded my-1 py-3 text-primary text-center'>
            <a href="{% url 'login' %}"><button class="btn btn-primary mx-auto my-2">Login (via url)</button></a>
            <a href="{% url 'register' %}"><button class="btn btn-primary mx-auto my-2">Register (via url)</button></a>
        </div>
        {% endif %}
        -->
               
{% endblock %}
