{% extends "base.html" %}

{% load static %}
  

<title> Home Premium</title>

{% block base_head %}
    <!--
    <link rel='stylesheet' href='{% static "css/main.css" %}'>
    -->
    
    <style>
    #backimg {
    background-image: url('{% static "img/novoback.jpg" %}');
    background-repeat:no-repeat;
    background-attachment:scroll;
    background-size:cover;
    background-position:right top;
    
    }
    #c1 {
        background-image: url('{% static "img/q_azul.jpg" %}');
        background-repeat:no-repeat;
        background-attachment: scroll;
        background-size:360px 170px;
        background-position:right top;
    }
    #c2 {
        background-image: url('{% static "img/qbomdia.jpg" %}');
        background-repeat:repeat;
        background-attachment: scroll;
        background-size:360px 170px;
        background-position:right top;
    }
    #c3 {
        background-image: url('{% static "img/q_azul.jpg" %}');
        background-repeat:repeat;
        background-attachment: scroll;
        background-size:360px 170px;
        background-position:right top;
    }
    #c4 {
        background-image: url('{% static "img/qbomdia.jpg" %}');
        background-repeat:repeat;
        background-attachment: scroll;
        background-size:360px 170px;
        background-position:right top;
    }
    
    </style>
       
    <!--
    <style>
        #backimg {
            background-color:#fffffc;

        }
        
        .btcolor {
            background-color:rgb(210, 248, 248);
        }
    </style>
    -->
{% endblock base_head %}

{% block content %}
    <!-- Aqui vai tudo que é referente a home_page  -->
       
    

    
    <div id="backimg" class="container border border-dark">
        <div  class="row mb-1">
        
        
            <div class='col-sm-10 btcolor px-2 mx-auto border border-primary rounded my-3 py-1  text-justify '>
                
                <h3>{{ title }}</h3>
                <h4>{{ content }} </h4>
                <h5>{{ contentdois }}</h5> 
            </div>
        </div>

        <div class='row '>
            

            <div class='col-sm-6 px-2 border border-info rounded my-1 py-1 text-primary text-center'>
                
                  
                <figure class="figure">
                    <a href="{% url 'pessoa_disc:homeprofessor' %}">
                        <span style="font-size: 4em; color: rgb(8, 8, 0);">
                            <i class="fas fa-chalkboard-teacher"></i>
                        </span>
                        <!--
                        <img src="{% static 'img/learning.jpg' %}" style="width:100px; height:100px;" class="figure-img img-fluid rounded-circle " alt="Imagem de um quadrado genérico com bordas arredondadas, em uma figure.">
                        -->
                    </a>
                    <figcaption class="figure-caption text-dark">Relação de Professores</figcaption>
                </figure>
                
                </br>
                    
                    <a href="{% url 'pessoa_disc:homeprofessor' %}"> <button class="btn  mx-auto my-1 btcolor "> <i class="fas fa-chalkboard-teacher"></i>   Professores</button></a>
            </div> 
                    
            <div class='col-sm-6 mr-1 px-2 m-auto border border-info rounded my-1 py-1 text-primary text-center'>
                <figure class="figure">
                    <a href="{% url 'pessoa_disc:homedisciplina' %}">
                        <span style="font-size: 4em; color: rgb(5, 5, 0);">
                            <i class="fas fa-book"></i>
                        </span>    
                        <!--
                        <img src="{% static 'img/online-courses.jpg' %}" style="width:100px; height:100px;" class="figure-img img-fluid rounded-circle " alt="Imagem de um quadrado genérico com bordas arredondadas, em uma figure.">
                        -->
                    </a>
                    <figcaption class="figure-caption text-dark">Relação de Disciplinas</figcaption>
                </figure>
                </br>
                    <a href="{% url 'pessoa_disc:homedisciplina' %}"><button class="btn btcolor mx-auto my-1"><i class="fas fa-book"></i>   Disciplinas</button></a>
            </div>   
              

            
            <div class='col-sm-6 mr-1 px-2 m-auto border border-info rounded my-1 py-1 text-primary text-center'>
                <figure class="figure">
                    <a href="{% url 'pessoa_disc:homealuno' %}">
                        <span style="font-size: 4em; color: rgb(7, 7, 0);">
                            <i class="fas fa-book-reader"></i>
                        </span>
                        <!--
                        <img src="{% static 'img/online-education_img.jpg' %}" style="width:100px; height:100px;" class="figure-img img-fluid rounded-circle border border-primary " alt="Imagem de um quadrado genérico com bordas arredondadas, em uma figure.">
                        -->
                    </a>
                    <figcaption class="figure-caption text-dark">Relação de Alunos</figcaption>
                </figure>
                </br>
                    <a href="{% url 'pessoa_disc:homealuno' %}"><button class="btn btcolor mx-auto my-1"><i class="fas fa-book-reader"></i>   Alunos</button></a>
            </div> 
                    
            <div class='col-sm-6 mr-1 px-2 m-auto border border-info rounded my-1 py-1 text-primary text-center '>
                <figure class="figure">
                    <a href="{% url 'questions:question' %}">
                        <span style="font-size: 4em; color: rgb(5, 5, 0);">
                        <i class="fas fa-square-root-alt"></i>
                        </span>
                        <!--
                        <img src="{% static 'img/abstract.jpg' %}" style="width:100px; height:100px;" class="figure-img img-fluid rounded-circle" alt="Imagem de um quadrado genérico com bordas arredondadas, em uma figure.">
                        -->
                    </a>
                    <figcaption class="figure-caption text-dark">Relação de Questões</figcaption>
                </figure>
                </br>
                    <a href="{% url 'questions:question' %}"><button class="btn btcolor mx-auto my-1"><i class="fas fa-square-root-alt"></i>   Questões</button></a>
            </div>   
        </div>
    
    
    
        <div class="row ">
            <div class="col-sm-4 btcolor mx-auto px-2 border border-info rounded my-1 py-1 text-primary text-center">
                <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
                    <div class="carousel-inner">
                      <div id="c1" class="carousel-item active">
                       <!--
                        <img class="d-block  border border-primary img-fluid rounded-circle" src="{% static 'img/professores.jpg' %}" style="width:100%; height:400px;" alt="Primeiro Slide">
                        -->
                        <figure class="figure">
                            <a href="{% url 'pessoa_disc:homeprofessor' %}">
                                
                                <span style="font-size: 5em; color: rgb(8, 8, 0);">
                                    <i class="fas fa-chalkboard-teacher"></i>
                                </span>
                                <!--
                                <img src="{% static 'img/learning.jpg' %}" style="width:100px; height:100px;" class="figure-img img-fluid rounded-circle " alt="Imagem de um quadrado genérico com bordas arredondadas, em uma figure.">
                                -->
                            </a>
                            <!--
                            <a href="{% url 'pessoa_disc:homeprofessor' %}">
                                <img src="{% static 'img/edu_tec.jpg' %}" style="width:200px; height:200px;" class="figure-img img-fluid rounded-circle " alt="Imagem de um quadrado genérico com bordas arredondadas, em uma figure.">
                            </a>
                            -->
                            <figcaption class="figure-caption text-dark"></figcaption>
                        </figure>
                        
                        </br>
                            <!--
                            <a href="{% url 'pessoa_disc:homeprofessor' %}"><button class="btn btn-light mx-auto my-1"><i class="fas fa-chalkboard-teacher"></i>   Professores</button></a>
                            -->
                       
                      </div>
                      <div id="c2" class="carousel-item ">
                          <!--
                        <img class="d-block  border rounded-circle border-primary img-fluid" src="{% static 'img/disciplinas.jpg' %}" style="width:200px; height:200px;" alt="Segundo Slide">
                        -->

                        <figure class="figure ">
                            <a href="{% url 'pessoa_disc:homedisciplina' %}">
                                <span style="font-size: 5em; color: rgb(5, 5, 0);">
                                    <i class="fas fa-book"></i>
                                </span>    
                                <!--
                                <img src="{% static 'img/disciplinas.jpg' %}" style="width:200px; height:200px;" class="figure-img img-fluid rounded-circle " alt="Imagem de um quadrado genérico com bordas arredondadas, em uma figure.">
                                -->
                            </a>
                            <figcaption class="figure-caption"></figcaption>
                        </figure>
                        </br>
                        <!--
                            <a href="{% url 'pessoa_disc:homedisciplina' %}"><button class="btn btn-light mx-auto my-1"><i class="fas fa-book"></i>   Disciplinas</button></a>
                        -->
                      </div>
                      <div id="c3" class="carousel-item ">
                          <!--
                        <img class="d-block  border rounded-circle border-primary img-fluid" src="{% static 'img/alunos.jpg' %}" style="width:200px; height:200px;" alt="Terceiro Slide">
                        -->
                        <figure class="figure">
                            <a href="{% url 'pessoa_disc:homealuno' %}">
                                <span style="font-size: 5em; color: rgb(7, 7, 0);">
                                    <i class="fas fa-book-reader"></i>
                                </span> 
                                <!--
                                <img src="{% static 'img/alunos.jpg' %}" style="width:200px; height:200px;" class="figure-img img-fluid rounded-circle border border-primary " alt="Imagem de um quadrado genérico com bordas arredondadas, em uma figure.">
                                -->
                            </a>
                            <figcaption class="figure-caption"></figcaption>
                        </figure>
                        </br>
                        <!--
                            <a href="{% url 'pessoa_disc:homealuno' %}"><button class="btn btn-light mx-auto my-1"><i class="fas fa-book-reader"></i>   Alunos</button></a>
                        -->

                      </div>
                      <div id="c4" class="carousel-item ">
                          <!--
                        <img class="d-block  border rounded-circle border-primary img-fluid" src="{% static 'img/questoes.jpg' %}" style="width:200px; height:2ss00px;" alt="Quarto Slide">
                            -->
                            <figure class="figure ">
                                <a href="{% url 'questions:question' %}">
                                    <span style="font-size: 5em; color: rgb(5, 5, 0);">
                                        <i class="fas fa-square-root-alt"></i>
                                    </span>
                                    <!--
                                    <img src="{% static 'img/questoes.jpg' %}" style="width:200px; height:200px;" class="figure-img img-fluid rounded-circle" alt="Imagem de um quadrado genérico com bordas arredondadas, em uma figure.">
                                    -->
                                </a>
                                <figcaption class="figure-caption"></figcaption>
                            </figure>
                            </br>
                            <!--
                                <a href="{% url 'questions:question' %}"><button class="btn btn-light mx-auto my-1"><i class="fas fa-square-root-alt"></i>   Questões</button></a>
                            -->
                      </div>
                    </div>
                </div>
            </div>
       
        </div>
        <!--
        <div class="row">
            <div class="col-sm-6 mx-auto text-right text-white ">
                <a href="https://www.freepik.com/vectors/background" target="_blanck">Background vector created by freepik - www.freepik.com </a>
            </div>
        </div>
        -->
    </div>    
{% endblock %}
